<!DOCTYPE html>
<html>
<head>
  <% if @product
   %><title><%= @product.name %> - <%= ENV['shop_name'] %></title>
  <% else
   %><title><%= ENV['shop_name'] %></title>
  <% end %>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag     'store', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="simple-error">
    <div class="simple-error">
      <div class="simple-error-status-code">
        <h1>422</h1>
      </div>

      <h2>Sorry, your payment for the #<%= params[:purchase_code] %> has failed</h2>

      <p>Do not worry, your fund was not deducted</p>

      <% if ENV['store_owner_email'].present? %>
        <p>Please, please <a href="mailto:galih.rubyist@gmail.com?subject=Payment failed #<%= params[:purchase_code] %>">contact Us</a>.
        </p>
      <% end %>
      <br>

      <% if ENV['store_owner_twitter'].present? %>
        <p>Or you can contact the admin via twitter @<%= ENV['store_owner_twitter'] %></p>
      <% end %>

      <hr>
      <%= link_to '...or Go back to Homepage', root_path %>
    </div>
  </div>
</body>
</html>