<div class="hero">
  <div class="overlay">
    <div class="product">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="productimage">
            <figure class="image">
              <a href="<%= root_path %>">
                <%= image_tag product.display_picture %>
            </a>
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="productdetails">
            <% if product.respond_to? :downloadtype %>
              <p class="type"><%= product.downloadtype %></p>
            <% end %>
            <h1>
              <a href="<%= root_path %>"><%= product.name %></a>
            </h1>
            <p class="intro"><%= product.description %></p>

            <div class="buynow">
              <div id="paypal-button-container"></div>

              <% if product.description.present? && action_name != "shop_show"%>
                <a class="button is-medium is-info is-outlined is-fullwidth" href="<%= root_path %>">More info</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>