<div class="row" id="product-<%= product.id %>">
  <div class="col-md-5">
    <figure class="product-display-picture">
      <a href="<%= root_path %>">
        <% if product.display_picture.present? %>
          <%= image_tag product.display_picture, class: "img-responsive fit-image" %>
        <% end %>
      </a>
    </figure>
  </div>
  <div class="col-md-7">
    <h2 class="product-name"><a href="<%= root_path %>"><%= product.name %></a></h2>
    <h3 class="product-price header-text">
      <%= 
        if product.is_free?
          'FREE'
        else          
          money_without_cents_and_with_symbol product.price
        end
      %>
    </h3>
    <p class="intro"><%= product.description %></p>

    <!-- Turn this on if needed to show link to product detail page-->
    <!-- 

        <p>
          <a href="" class="btn btn-fill btn-info" data-button="info">
            View detail
          </a>      
        </p>

     -->

    <br>
    <hr>
    <% if product.is_free? %>    
      <div class="downloadnow">
        <%= form_for([:store, @free_purchase], class: "form-row align-items-center") do |f| %>
          <%= f.hidden_field :product_id, value: product.to_param  %>
          <div class="form-row align-items-center">
            <div class="col-mr-sm-3 my-1">
              <%= f.label :customer_email, "Email address", class: "sr-only" %>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <%= octicon "mail", height: 32,  class: "right left", "aria-label": "hi" %>
                  </div>
                </div>
                <%= f.text_field  :customer_email, placeholder: 'your_email@mail.com', class: "form-control-lg" %>

              </div>
            </div>
            <div class="col-auto my-1">
              <%= f.submit 'Get this free', class: "btn btn-lg btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="buynow">
        <vue-paypal-smart-payment-buttons
          @paypal-order-created="processing"
          @paypal-order-approved="finishing"
          @paypal-order-failed="failing"
          button-unique-reference="paypal-container-<%= product.id.to_s %>"
          v-bind:cart="{
            intent: 'CAPTURE',
            items: [
              {
                reference_id: '<%= product.id %>',
                description: '<%= product.name %>',
                amount: {
                  currency_code: '<%= product.price_currency %>',
                  value: <%= product.price.to_s %>
                }
              }
            ]
          }"
        />
      </div>
    <% end %>
  </div>
</div>