<div class="row">
  <div class="col-md-6">
    <figure class="product-display-picture">
      <a href="<%= root_path %>">
        <% if product.display_picture.present? %>
          <%= image_tag product.display_picture, class: "img-responsive fit-image" %>
        <% end %>
      </a>
    </figure>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h2 class="product-name"><a href="<%= root_path %>"><%= product.name %></a></h2>
    <h3 class="product-price header-text">
      <%= money_without_cents_and_with_symbol product.price %>
    </h3>
    <p class="intro"><%= product.description %></p>

    <p>
      <a href="http://www.creative-tim.com/product/awesome-landing-page" id="Demo3" class="btn btn-fill btn-info" data-button="info">View detail</a>      
    </p>
    <br>
    <hr>
    <div class="buynow">
      <paypal-button
        client-id="<%= ENV['paypal_client_id'] %>"
        currency-code="<%= product.price_currency %>"
        price-cents="<%= product.price_cents %>"
        product-description="<%= product.name %>"
        product-id="<%= product.id %>"
      />
    </div>
  </div>
</div>