<div class="hero">
  <div class="overlay">
    <div class="product" id="product-<%= product.id %>">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="productimage">
            <figure class="image">
              <a href="<%= root_path %>">
                <% if product.display_picture.present? %>
                  <%= image_tag product.display_picture %>
                <% end %>
            </a>
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="productdetails">
            <% if product.respond_to? :downloadtype %>
              <p class="type"><%= product.downloadtype %></p>
            <% end %>
            <h1 class="product-name">
              <a href="<%= root_path %>"><%= product.name %></a>
            </h1>
            <h3 class="product-price"><%= product.price %></h3>
            <p class="intro"><%= product.description %></p>

            <div class="buynow">
              <paypal-button
                client-id="<%= ENV['paypal_client_id'] %>"
                currency-code="<%= product.price_currency %>"
                price-cents="<%= product.price_cents %>"
                product-description="<%= product.name %>"
              />

              <% if product.description.present? && action_name != "shop_show"%>
                <a class="button is-medium is-info is-outlined is-fullwidth" href="<%= store_product_path(product) %>">More info</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>