<div class="row" id="product-<%= product.id %>">
  <div class="col-md-6">
    <figure class="product-display-picture">
      <a href="<%= root_path %>">
        <%= 
          image_tag 'michael_hartl_rails_tutorial.png', class: "img-responsive fit-image"
        %>
      </a>
    </figure>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h2 class="product-name">
      <a href="<%= root_path %>"><%= product.name %></a>
    </h2>
    <h3 class="product-price header-text">
      <%= money_without_cents_and_with_symbol product.price %>
    </h3>
    <p class="intro"><%= product.description %></p>

    <!-- Turn this on if needed to show link to product detail page-->
    <!-- 
        <p>
          <a href="" class="btn btn-fill btn-info" data-button="info">
            View detail
          </a>      
        </p>
     -->

    <br>
    <hr>

    <!-- TODO: Put the paypal button here -->
    <div class="buynow">
      <paypal-button
        refer="paypal-container-<%= product.id.to_s %>"
        currency-code="<%= product.price_currency %>"
        price-str="<%= product.price.to_s %>"
        product-description="<%= product.name %>"
        product-id="<%= product.id %>"        
      />
    </div>
  </div>
</div>