<!DOCTYPE html>
<html>
<head>
  <% if @product%>
    <title><%= @product.name %> - <%= ENV['store_name'] %></title>
  <% else %>
    <title><%= ENV['store_name'] %></title>
  <% end %>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag     'store' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <%= link_to ENV['store_name'], root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <!-- Turn this as you see fit  -->
          <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
      </ul>
      <!-- Turn this on later  -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button> -->
    </div>
  </nav>

  <div class="container" id="store-content">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <%= link_to 'Store', root_path %>
          </li>
          <li>
            <%= link_to 'About', '/about' %>
          </li>
        </ul>
      </nav>
      <div class="social-area float-right">
        <div class="copyright">
            &copy; 2020 <a href="https://rubyist.info">Galih Muhammad</a>, made with love
        </div>
      </div>
    </div>
  </footer>
</body>
</html>