<!DOCTYPE html>
<html>
<head>
  <% if @product
   %><title><%= @product.name %> - <%= ENV['shop_name'] %></title>
  <% else
   %><title><%= ENV['shop_name'] %></title>
  <% end %>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag     'store' %>

  <%= csrf_meta_tags %>
</head>
<body class="shop <%= "#{controller_name} #{action_name}" %>" id="shop_app">
  <nav class="shop">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="is-size-5">
            <%= link_to "Shop", root_path %>
          </p> 
        </div>
      </div>
      <div class="level-right">
        <div class="level-item"></div>
      </div>
    </div>
  </nav>

  <%= yield %>

  <footer>
    Copyright &copy; <%= Time.current.year %> <%= ENV['shop_name'] %>
  </footer>
</body>


</html>