<!DOCTYPE html>
<html>
<head>
  <% if @product%>
    <title><%= @product.name %> - <%= ENV['store_name'] %></title>
  <% else %>
    <title><%= ENV['store_name'] %></title>
  <% end %>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag     'store' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <!-- Collapse button -->
      <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav">

          <li class="nav-item">
            <%= link_to ENV['store_name'], root_path, class: 'navbar-brand' %>
          </li>

          <li class="nav-item">
            <!-- <a class="nav-link" href="#"></a> -->
          </li>

        </ul>
        <!-- Links -->
      </div>
      <!-- CTA -->
    </div>

  </nav>
  <!--/.Navbar-->

  <div class="container" id="store-content">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <%= link_to 'Store', root_path %>
          </li>
          <li>
            <%= link_to 'About', '/about' %>
          </li>
        </ul>
      </nav>
      <div class="social-area float-right">
        <div class="copyright">
            &copy; 2020 <a href="https://rubyist.info">Galih Muhammad</a>, made with love
        </div>
      </div>
    </div>
  </footer>

  <script
    id="paypal-sdk-js-src"
    src="https://www.paypal.com/sdk/js?client-id=<%= ENV['paypal_client_id'] %>"
    data-sdk-integration-source="button-factory"
  >
  </script>
</body>
</html>