<!DOCTYPE html>
<html>
<head>
  <% if @product
   %><title><%= @product.name %> - <%= ENV['shop_name'] %></title>
  <% else
   %><title><%= ENV['shop_name'] %></title>
  <% end %>

  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag     'store', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>
<body class="shop <%= "#{controller_name} #{action_name}" %>">
  <nav class="shop">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="is-size-5">
            <%= link_to "Shop", root_path %>
          </p> 
        </div>
      </div>
      <div class="level-right">
        <div class="level-item"></div>
      </div>
    </div>
  </nav>

  <%= yield %>

  <footer>
    Copyright &copy; <%= Time.current.year %> <%= ENV['shop_name'] %>
  </footer>


  <script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['paypal_client_id'] %>">
    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>
  <script>
    paypal.Buttons({
      env: 'sandbox', // Valid values are 'sandbox' and 'live'.
      createOrder: async (data) => {
        const response      = await fetch('/api/v1/store/purchases', {
          method:   'POST',
          headers:  { 'Content-Type': 'application/json' },
        });
        const responseData  = await response.json();

        return responseData.token;        
      },
      onApprove: async (data) => {
        const response = await fetch('/api/v1/store/purchases/capture', {
          method:   'POST',
          headers:  { 'Content-Type': 'application/json' },
          body:     JSON.stringify({ paypal_order_id: data.orderID })
        });
        
        const responseData = await response.json();

        if (responseData.status === 'COMPLETED') {
          window.location.href = '/store/purchases/' + responseData.purchase_code + '/success';
        } else {
          window.location.href = '/store/purchases/failure?purchase_code=' + responseData.purchase_code;
        }
      }
    }).render('#paypal-button-container');
  </script>   
</body>


</html>