<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for completing the purchase!</h3>
    <h5>This is your purchase number: #<%= @purchase.id.to_param %></h5>
    <p>
      Purchase details<br>
      --------------------------
    </p>
    <p>Product: <%= @purchase.product.name %></p>
    <p>Amount:  <%= @purchase.price.to_s %></p>
    <p>Paid At: <%= @purchase.created_at.strftime('%e %b %Y %H:%M:%S%p') %></p>
    <p>
      ----------
    </p>
    <p>
      To view your purchased item <%= link_to 'click here', store_purchase_url(@purchase) %><br>
    </p>
  </body>
</html>